@import "tailwindcss";
@plugin "daisyui" {
  themes:
    base-light --default,
    base-dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "base-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: oklch(61.302% 0.202 261.294);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(76.662% 0.135 153.45);
  --color-secondary-content: oklch(33.387% 0.04 162.24);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "base-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(35% 0 0);
  --color-base-200: oklch(42% 0 0);
  --color-base-300: oklch(49% 0 0);
  --color-base-content: oklch(93% 0.022 262.988);
  --color-primary: oklch(68% 0.195 261.294);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(71% 0.128 153.45);
  --color-secondary-content: oklch(22% 0.045 162.24);
  --color-accent: oklch(74% 0.14 33.2);
  --color-accent-content: oklch(14% 0.05 33.2);
  --color-neutral: oklch(30% 0.03 262.988);
  --color-neutral-content: oklch(96% 0.01 248);
  --color-info: oklch(69% 0.18 231.6);
  --color-info-content: oklch(12% 0.04 240);
  --color-success: oklch(66% 0.14 160);
  --color-success-content: oklch(8% 0.02 160);
  --color-warning: oklch(78% 0.17 83.87);
  --color-warning-content: oklch(22% 0.08 45);
  --color-error: oklch(70% 0.2 22.18);
  --color-error-content: oklch(98% 0.01 15);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  @apply bg-base-200;
}
